#btn {
  width: 100px;
  height: 40px;
  background-color: #000000;
  color: #FFFFFF;
  float: center;
  padding: 5px;
  border-radius: 10px;
}
#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#nav li {
  display: block;
  display: inline;
  padding: 8px;
  background-color: #dddddd8f;
}
#logo {
  font-family: Brush Script MT, cursive;
}
#create-title {
  margin-top: 500 px;
  color:#000000;
}
