.business-card {
    width: 350px;
    height: auto;
    background-color: #fff;
    padding: 30 px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 40px auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.business-card p {
    text-align: left;
    margin-bottom: 20px;
    color: #333;
}